@model Wired.Models.Entities.Game
@using Microsoft.AspNetCore.Http;

@{
    Layout = "_WiredLayout";
    ViewData["Title"] = Model.Name;
}

<div class="container" id="product-section">
    <div class="row">
        <div class="col-md-6">
            <div class="col-md-12">
                <h1 class="h1">@Model.Name.ToUpper()</h1>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <p class="description">
                        @Model.ShortDescription
                    </p>
                </div>
            </div><!-- end row -->

            <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
                <ol class="carousel-indicators">
                    @for (int i = 0; i < Model.Images.Count; i++)
                    {
                        @if (i == 0)
                        {
                            <li data-target="#carouselExampleIndicators" data-slide-to="@i" class="active"></li>
                            continue;
                        }
                        <li data-target="#carouselExampleIndicators" data-slide-to="@i"></li>
                    }
                </ol>
                <div class="carousel-inner">
                    @foreach (var img in Model.Images)
                    {
                        @if (Model.Images[0] == img)
                        {
                            <div class="carousel-item active">
                                <div class="heightproduct">
                                    <img src="~/images/@img.ImagePath" alt="@Model.Name" class="d-block w-100 heightproduct" />
                                </div>
                            </div>
                        }
                        else
                        {
                            <div class="carousel-item ">
                                <div class="heightproduct">
                                    <img src="~/images/@img.ImagePath" alt="@Model.Name" class="d-block w-100" />
                                </div>

                            </div>
                        }
                    }
                </div>
                <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="sr-only">Previous</span>
                </a>
                <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="sr-only">Next</span>
                </a>
            </div>

        </div>
        <div class="col-md-6 bag">
            @* <div class="col-md-12">
                    <h1>@Model.Name</h1>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <p class="description">
                            @Model.ShortDescription
                        </p>
                    </div>
                </div><!-- end row --> *@

            <div class="row col-md-12">
                <div class="col-md-12 bottom-rule">
                    @{
                        var formatedPrice = Model.Price > 100 ? Model.Price.ToString().Replace('.', ',').PadRight(6, '0') : Model.Price.ToString().Replace('.', ',').PadRight(5, '0');
                        formatedPrice = Model.Price > 0 ? $"R${formatedPrice}" : "GRATUITO";
                    }
                    <h2 class="product-price">@formatedPrice</h2>
                </div>
                <div class="col-md-4">
                    <button id="addToCart" onclick="addToCart(@Model.Id)" class="btn btn-lg btn-warning btn-brand btn-full-width">
                        <span class="fa fa-shopping-cart"></span> Adicionar ao Carrinho
                    </button>
                </div>
            </div><!-- end row -->
            <br>
            <div class="row stars col-md-pull-6">
                <div class="starrating risingstar d-flex justify-content-end flex-row-reverse">
                    <input type="radio" id="star5" name="rating" value="5" /><label for="star5" title="5 star"></label>
                    <input type="radio" id="star4" name="rating" value="4" /><label for="star4" title="4 star"></label>
                    <input type="radio" id="star3" name="rating" value="3" /><label for="star3" title="3 star"></label>
                    <input type="radio" id="star2" name="rating" value="2" /><label for="star2" title="2 star"></label>
                    <input type="radio" id="star1" name="rating" value="1" /><label for="star1" title="1 star"></label>
                </div>
                <div class="col-md-4">
                    <span class="monospaced"><a href="#">--</a></span>
                </div>
            </div><!-- end row -->
            @*<div class="row add-to-cart">
                    <div class="col-md-4">
                        <button class="btn btn-lg btn-warning btn-brand btn-full-width">
                            <span class="fa fa-shopping-cart"></span> Carrinho
                        </button>
                    </div>
                </div><!-- end row --> *@

            <div class="row">
                @*<div class="col-md-4 text-center">
                        <span class="monospaced">Itens</span>
                    </div>*@

            </div><!-- end row -->
            <div class="row">
                <div class="col-md-12 bottom-rule top-10"></div>
            </div><!-- end row -->
            <!-- Nav tabs -->
            <br>
            <div class="col-md-6">
                <div>
                    <span class="text-secondary">Gênero: </span>
                    <span class="">@Model.Genre.Name</span>
                </div>
                <div class="">
                    <span class="text-secondary">Produtora: </span>
                    <span class="">@Model.Producer</span>
                </div>
                <div>
                    <span class="text-secondary">Ano de lançamento: </span>
                    <span class="">@Model.ReleaseYear</span>
                </div>

            </div>
            <br>
            <ul class="nav nav-tabs" role="tablist">
                <li>


                </li>
                <li role="presentation" class="active">
                    <a href="#description" aria-controls="description" role="tab" data-toggle="tab" class="text-secondary">Descrição</a>
                </li>
            </ul>
            <!-- Tab panes -->
            <div class="tab-content">
                <div role="tabpanel" class="tab-pane active" id="description">
                </div>

                <div role="tabpanel" class="tab-pane active" id="description">
                    <p class="top-10">
                        @Model.Description
                    </p>
                </div>
            </div>
        </div>

    </div><!-- end row -->
</div><!-- end container -->

<script>

    const addToCart = (id) =>
    {
         $.ajax({
             url: '@Url.Action("AddToCart", "Cart")?gameId='+id,
                type: 'Get',
                success: (response) => {
                    $("#genres").html(response);
                }
         });

        alert("Produto Adionado ao carrinho.");
    }

</script>

<link href='https://fonts.googleapis.com/css?family=Ubuntu+Mono' rel='stylesheet' type='text/css'>
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
        crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy"
        crossorigin="anonymous"></script>
